/* GLOBAL  */
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    color: var(--black);
}

:root {
    --black: #0d1213;
    --grey: #5c5f62;
    --light-grey: #d7d7d8;
    --dark-grey: #151d1e;
    --white: #eef1f1;
    --green: #eafaf3;
    --blue: #b5c9fa;
    --footer: #20292b;
    --background: #fff;
}

/* NAVBAR  */
.navbar {
    padding: 8px 0;
    margin-inline: 50px;
}

.navbar-nav {
    align-items: center;
}

.nav-link {
    color: var(--grey);
    font-size: 14px;
    margin-inline: 10px;
}

.nav-link:hover {
    color: var(--dark-grey);
}

.form-control {
    font-size: 12px;
    border: none;
}

.search-box-container {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey);
    padding: 8px;
    border-radius: 8px;
    padding-block: 0;
    margin-right: 20px;
}

.search-box-container .fa-solid {
    color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HERO SECTION  */
.hero-section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    margin-bottom: 100px;
}

.hero-section-text {
    padding-left: 125px;
    padding-top: 100px;
}

.hero-section-text h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 32px;
}

.hero-section-text h2 {
    font-weight: 700;
    font-size: 1.25rem;
}

.hero-section-text p {
    margin-bottom: 32px;
    font-size: 1.125rem;
}

.hero-img {
    max-width: 850px;
    position: absolute;
    top: 20px;
    right: -175px;
}

.hero-section-text-buttons {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}

.hero-section-text-buttons img {
    width: 50px;
}

.hero-section-text-buttons button {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    background-color: #fbfbfb;
    box-shadow: 0px 2px 6px 0px rgba(92,95,98,0.3);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(92,95,98,0.3);
    -moz-box-shadow: 0px 2px 6px 0px rgba(92,95,98,0.3);
    transition: all 0.2s;
}

.hero-section-text-buttons button:hover {
    transform: scale(1.1);
}

.hero-section-text-buttons h2 {
    margin-bottom: 0;
    margin-left: 10px;
}

/* HIGHLIGHTS SECTION  */
.highlights-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 64px 128px;
    margin-inline: 20px;
    margin-bottom: 20px;
    background-color: var(--green);
    border-radius: 16px;
}

.highlights-section-text {
    padding-right: 100px;
}

.highlights-section-text h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.highlights-section-text h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.highlights-section-text p {
    font-size: 1rem;
    color: var(--grey);
    margin-bottom: 24px;
}

.highlights-section img {
    width: 50px;
    margin-right: 24px;
}

.highlights-section-card {
    background-color: var(--background);
    padding: 80px 64px;
    width: 425px;
    border: 3px solid var(--black);
    justify-self: end;
    box-shadow: 10px 10px 0px 0px rgba(13,18,19,1);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(13,18,19,1);
    -moz-box-shadow: 10px 10px 0px 0px rgba(13,18,19,1);
}

.highlights-section-card h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
}

.highlights-section-card p {
    font-size: 0.875rem;
}

.text-box {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

/* RESOURCES SECTION  */
.resources {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
    padding-inline: 140px;
    margin-top: 32px;
    margin-bottom: 100px;
}

.resources-card-main {
    background-color: #f4f6ff;
    padding: 12px;
    border-radius: 8px;
}

.resources-card-main h2 {
    font-size: 1.25rem;
    font-weight: 700;
    width: 75%;
}

.resources-card-main img {
    margin-bottom: 12px;
}

.resources-card {
    background-color: #fbfbfb;
    padding: 12px;
    border: 1px solid var(--light-grey);
    border-radius: 8px;
    transition: all 0.2s;
    box-shadow: 0px 2px 6px 0px rgba(92,95,98,0.3);
    -webkit-box-shadow: 0px 2px 6px 0px rgba(92,95,98,0.3);
    -moz-box-shadow: 0px 2px 6px 0px rgba(92,95,98,0.3);
}

.resources-card:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.resources-card img {
    width: 40px;
    margin-bottom: 12px;
}

.resources-card h2 {
    font-size: 1rem;
    font-weight: 700;
}

.resources-card p {
    font-size: 0.875rem;
}
